package layouts

templ Base() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<script src="static/js/htmx.min.js"></script>
			<script src="https://cdn.tailwindcss.com?plugins=forms"></script>
			<script>
				htmx.config.responseHandling.unshift({code: "422", swap:true})
			</script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
